@import 'variables';

/* Utility classes */
.text-primary {
  color: $text-primary;
}
.text-secondary {
  color: $text-secondary;
}
.text-tertiary {
  color: $text-tertiary;
}

/* Buttons */
.btn {
  $btn-color: $text-secondary;
  $btn-hover-color: lighten($text-secondary, 10%);

  display: block;
  padding: $space-sm;
  background: $btn-color;
  color: $text-inverse;
  text-decoration: none;
  text-align: center;
  border: 1px solid darken($btn-color, 7%);
  border-radius: 10px;

  transition: background $transition-fast, border-color $transition-fast;

  &:hover {
    background: $btn-hover-color;
    border-color: darken($btn-hover-color, 7%);
    color: $text-inverse;
  }
}

/* Media objects */
.media {
  display: flex;
  align-items: center;

  .media-figure {
    margin: 0 0.5em 0 0;
    font-size: 1.5em;
  }

  .media-body {
    flex: 1;
  }
}

/* Logo groups */
div.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  figure {
    margin: $space-sm;
    width: 42%;
    max-width: 180px;
  }

  @media (min-width: $screen-wide) {
    flex-wrap: inherit;
  }
}
