/* Colours */
$background: #f1f1f1;
$text-primary: #5b5b5b;
$text-inverse: #f1f1f1;
$text-secondary: #79204b;
$text-tertiary: #e394bf;


/* Fonts */
$font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;


/* Sizes and spacing */
$screen-min: 360px;
$screen-wide: 768px;
$screen-max: 960px;

$details-width: 238px;

$space-normal: 20px;


/* Timings */
$transition-fast: 0.3s;
