@import "variables";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-width: $screen-min;
  min-height: 100%;
  margin: 0;
  padding: 0;

  background: $background;
  color: $text-primary;

  font-family: $font-family;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-secondary;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}
figcaption {
  color: $text-secondary;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
}
