@import "variables";

figure.logo {
  max-width: $details-width;
  margin: 0 auto;

  figcaption {
    color: $text-secondary;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
  }
}

.details {
  max-width: $details-width;
  margin: 1.5em auto 0;

  > * {
    margin: 1em 0;
  }

  figure.flowers {
    margin-left: -$space-sm;
    margin-right: -$space-sm;
  }
}
