@import "variables";

.details-container {
  figure.logo {
    max-width: 238px;
    margin: 0 auto $space-lg;

    figcaption {
      color: $text-secondary;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.8em;
    }
  }


  .details {
    max-width: 190px;
    margin: 0 auto;

    > * {
      margin: 1em 0;
    }
  }

  .actions {
    margin: $space-lg auto 0;
    max-width: 258px;
  }
}
