@import "variables";

.details-container {
  figure.logo {
    max-width: 238px;
    margin: 0 auto $space-lg;
  }

  .details {
    max-width: 190px;
    margin: 0 auto;

    > * {
      margin: 1em 0;
    }
  }

  .actions {
    margin: $space-md auto 0;
    max-width: 258px;

    a.btn {
      margin-top: 5px;
    }
  }
}
