@import 'variables';

.container {
  display: flex;
  width: $screen-max;
  max-width: 100%;
  margin: $space-md;

  .details-container {
    flex-shrink: 0;
  }
  .main-container {
    text-align: center;
  }

  figure.flowers {
    margin: 1em auto;
    max-width: 258px;
  }

  /* Narrow screen - stacked */
  @media (max-width: $screen-wide - 1) {
    flex-direction: column;

    .details-container {
      border-bottom: 2px dashed;
      padding-bottom: $space-lg;
    }
    .main-container {
      padding: $space-lg;
    }
  }

  /* Wide screen - side by side */
  @media (min-width: $screen-wide) {
    .details-container {
      border-right: 2px dashed;
      padding-right: $space-md;
      width: 260px;
    }
    .main-container {
      padding-left: $space-xl;
    }
  }
}

footer {
  width: $screen-max;
  max-width: 100%;

  figcaption {
    margin: $space-md 0 0;
  }
}
