@import "variables";

.container {
  display: flex;
  width: $screen-max;
  max-width: 100%;
  margin: $space-md;

  .first-container {
    flex-shrink: 0;
  }
  .second-container {
    text-align: center;
    padding: $space-lg;
  }

  /* Narrow screen - stacked */
  @media (max-width: $screen-wide - 1) {
    flex-direction: column;

    .first-container {
      border-bottom: 2px dashed;
      padding-bottom: $space-md;
    }
  }

  /* Wide screen - side by side */
  @media (min-width: $screen-wide) {
    .first-container {
      border-right: 2px dashed;
      padding: $space-xl $space-md $space-xl 0;
      width: 260px;
    }
    .second-container {
      padding: $space-lg $space-xl;
      padding-right: 0;
    }
  }
}
